body {
    background-color: lightgray;
    display:grid;
    height:100vh;
    display: grid;
    grid-template-columns: 30vw 70vw;
    
}

.left-container {
    display:grid;
    grid-column:1;
    grid-row: 1/6; 
    grid-template-rows: 30vh 70vhh;
    grid-template-columns: 1fr;
}

img.elon {
    display:flex;
    justify-content:start;
    max-width: 200px;
    height: auto;
    margin-top: 50px;
    margin-left: 50px; 
}

h2 {
    text-align: center;
    margin-right: 125px;
 }



.contact {
    background-color: aqua;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
}


.right-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 30vh;
    grid-column: 2;
    grid-row: 1/6;
}

h1 {
    text-align: center;
    margin-right: 200px;
}

p.bio {
    text-align: center;
    margin-right: 200px;
}

.box2column2 {
    grid-column: 1;
    grid-row: 2 / 3;
    text-align: center;
    margin-right: 200px;
}



.box3column2 {
    grid-column: 1;
    grid-row: 3/4;
    text-align: center;
    margin-right: 200px;/
}



/*
section.contact {

    grid-column: 1;
    grid-row: 2;
}


h1 {
    text-align: center;
    margin:0;
}

p.bio {

    grid-row:1;
    justify-content: center;
    

}

p.phone {

    grid-column: 1 /2;
    grid-row: 2/3;
}



  

 */
